.container {
    display: flex;
    justify-content: flex-end;
}
.menu {
    width: 200px;
}
.menu li {
    padding: 10px 20px;
    color: #333;
}
.dropdownLink {
    color: #333;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}
.dropdownLink .name {
    margin: 0 15px 0 10px;
}

.crown {
    position: absolute;
    width: 20px;
    left: -2px;
    top: 6px;
}
