.container {
    padding: 40px 20px 20px;
    text-align: center;
}

.container h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.container p {
    margin: 0 0 15px;
}

.crown {
    width: 60px;
    position: absolute;
    top: 7px;
    left: 51px;
}
