body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #333;
    font-family: "Arial", "Microsoft YaHei", Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
    font-size: 14px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
em,
strong,
b,
u,
i {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
h1,
h2,
h3 {
    font-size: 100%;
    font-weight: normal;
}
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}
img {
    border: 0 none;
}
input {
    border: none;
}
