.slider {
    height: 100vh;
    position: fixed;
    left: 0;
    background: #fff;
    border-right: 1px solid #f0f0f0;
}
.sitebackground {
    background: #fff;
}
.siteLayout {
    margin-left: 200px;
}
.header {
    position: fixed;
    right: 0;
    left: 200px;
    background: #fff;
}
.menu {
    border-right: 0;
}
.content {
    margin: 88px 16px 0;
    overflow: initial;
    background: #fff;
}
