.wrapper {
    min-height: 100vh;
    background-image: linear-gradient(to top right, #1890ff, #fb946d);
    padding-top: 200px;
    padding-bottom:100px;
}
.mainBox {
    background-color: rgba(0, 0, 0, 0.21);
    padding: 30px;
    width: 400px;
    margin: 0 auto;
}
.switch {
    color: white;
    text-align: right;
}
.switch a {
    color: white;
}
